body {
    
}

header {
    color: white;
    font-family: impact, Times, courier;
    font-size: 36px;
    background-color: black;
    background-image: url("../../indv-website/pictures/space.jpg");
    border: solid;
    border-color: black;
    border-width: thick;
    height: auto;
    margin: 0;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    
}
header a{
    color: white;
    text-decoration: none;
}

@media print {
    nav ol li {font-size:.05em;font-weight:bold;}
    div#leftmenu {height:20em; float: left;}
    aside {font-size: 48; float: left;}
    main {height:20em;}
    aside P{height:20em;}
    footer {height:20em;}  
}

@media screen and (max-width: 1399px) {
    footer a {display:inline-block; width:100%; text-align:center; font-size:.5em}
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    font-family: impact, Times New Roman, courier;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffcf00;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.flex-container {display:flex;width:100%;}
.flex-item {border: none;}
div#leftmenu {
    background-color:  #ffcf00;
    height:3000px;
    width: 20%;
    font-family: impact, Times New Roman, courier;
    overflow: hidden;
    padding-left: 14px;
    
}
div#leftmenu a{
    display: block;
    color: black;
    text-align: left;
    font-size: 17px;
    text-decoration: none;
}
div#leftmenu a:hover {
    background-color:  #333;
    color: #f2f2f2;
   
}
div#leftmenu h3{
    color: black;
}



main {
    color: black;
    font-family: calibri, Times New Roman, courier;
    height:3000px;
    width: 60%;
    overflow: hidden;
    padding: 14px;
    align-content: center;
    
}


aside {
    background-color:  #ffcf00;
    height: 3000px;
    width: 20%;
    font-family: impact, Times New Roman, courier;
    overflow: hidden;
    padding-left: 14px;
    float: right;

}
aside a{
    display: block;
    color: black;
    text-align: left;
    font-size: 17px;
    text-decoration: none;
}
aside a:hover {
    background-color:  #333;
    color: #f2f2f2;
   
}
aside h3{
    color: black;
}